<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">


              <div class="">
                  <img src="assets/img/bg.jpg" alt="Snow" style="width:100%;">
                  <div class="centered">
                      <section class="food-delivery-section">
                          <div class="container text-center">
                              <h1>Food Delivery in Akron</h1>
                              <div class="search-box mt-4">
                                  <mat-form-field class="example-full-width" appearance="outline">
                                      <mat-label>Favorite food</mat-label>
                                      <input matInput placeholder="Ex. Pizza" value="Sushi">
                                  </mat-form-field>
                                  <button class="btn btn-dark mt-3">Find Food</button>
                              </div>
                          </div>
                      </section>

                  </div>
              </div>





          </div>
      </div>
  </div>



    <div class="container-fluid">
        <div class="">
            <div class="row px-3">
                <!-- Speedway Store Card -->
                <div *ngFor="let row of dataSource?.data" class="col-6 store-card">
                    <img [src]="row.recipe_pic" (error)="getImg('')"  alt="Speedway" style="width: 100px; height: auto;">
                    <div>
                        <h5>{{row.recipe_name}}</h5>
                        <p>{{row.recipe_description}}</p>
                        <!-- <address>390 East Exchange Street, Akron, OH 44304-1853</address> -->
                    </div>
                    <button mat-button (click)="addToCart(row)">Add to Cart!
                        <!-- <mat-icon class="mx-0">clear</mat-icon> -->
                      </button>
                </div>

                <!-- BP Store Card -->
                <!-- <div class="col-6 position-relative ">

                    <span class="store-rating ms-auto position-absolute">4.3</span>

                    <div class="store-card">
                        <img src="assets/img/apple-icon-.png" alt="BP" style="width: 100px; height: auto;"> 
                        <div>
                            <h5>BP (778 Grant St)</h5>
                            <p>Convenience · Snacks · Everyday Essentials</p>
                            <address>778 Grant St, Akron, OH 44311</address>
                        </div>
                    </div>

                </div> -->
            </div>
        </div>
    </div>
</div>
