.food-delivery-section {
  padding: 100px 0; /* Adjust the padding to match your design */
}
.search-box {
  max-width: 400px;
  margin: 0 auto;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Custom styles for the layout */
.store-card {
  display: flex;
  //align-items: center;
  gap: 10px; /* Adjust the gap as needed */
  background-color: #fff; /* Adjust the background color as needed */
  margin-bottom: 10px; /* Space between cards */
  padding: 10px; /* Padding inside the card */
}
.store-rating {
  display: inline-block;
  font-weight: bold;
  background-color: #eff0f1; /* Background color of the circle */
  color: #333; /* Text color */
  border-radius: 50%; /* Makes the background circle */
  padding: 0.25em 0.6em; /* Adjust padding to control size of the circle */
  text-align: center;
  min-width: 2.5em; /* Ensures the circle size if text is small */
}
/* Add additional custom styles as needed */
p{
  font-size: 12px;
  margin-bottom: 3px;
}
address{
  font-size: 12px;
  margin-bottom: 3px;

}
h5{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;

}
.card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  border: 0;
  border-radius: 1rem;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}


.card h5 {
  overflow: hidden;
  font-weight: 300;
  font-size: 1rem;
}

.card h5 a {
  color: black;
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  object-fit: contain;
  padding: 30px;
}

.card h2 {
  font-size: 1rem;
}


.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

/* Centered text */
.label-top {
  position: absolute;
  background-color: var(--label-index);
  color: #fff;
  top: 8px;
  right: 8px;
  padding:  10px;
  font-size: .7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
}

.top-right {
  position: absolute;
  top: 24px;
  left: 24px;

  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 900;
  background: #8bc34a;
  line-height: 90px;
  text-align: center;
  color: white;
}

.top-right span {
  display: inline-block;
  vertical-align: middle;
  /* line-height: normal; */
  /* padding: 0 25px; */
}

.aff-link {
  /* text-decoration: overline; */
  font-weight: 500;
}

.over-bg {
  background: rgba(53, 53, 53, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.0px);
  -webkit-backdrop-filter: blur(0.0px);
  border-radius: 10px;
}
.bold-btn {

  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 50px 5px 50px;
}
.box .btn {
  font-size: 1.5rem;
}

@media (max-width: 1025px) {
  .btn {
    padding: 5px 40px 5px 40px;
  }
}
@media (max-width: 250px) {
  .btn {
    padding: 5px 30px 5px 30px;
  }
}

/* START BUTTON */
.btn-warning {
  background: var(--btnbg);
  color: var(--btnfontcolor);
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
  border-radius: 100px;
}
.btn-warning:hover {
  background: var(--btnbghover);
  color: var(--btnfontcolorhover);
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
  background: var(--btnbghover);
  color: var(--btnfontcolorhover);
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-warning:active:focus {
  box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}
.btn-warning:active {
  background: var(--btnbghover);
  color: var(--btnfontcolorhover);
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.bg-success {
  font-size: 1rem;
  background-color: var(--btnbg)!important;
  color: var(--btnfontcolor)!important;
}
.bg-danger {
  font-size: 1rem;
}


.price-hp {
  font-size: 1rem;
  font-weight: 600;
  color: darkgray;
}
.bg-{
  background: #f5f6f6;
}
.amz-hp {
  font-size: .7rem;
  font-weight: 600;
  color: darkgray;
}

.fa-question-circle:before {
  /* content: "\f059"; */
  color: darkgray;
}

.fa-heart:before {
  color:crimson;
}
.fa-chevron-circle-right:before {
  color: darkgray;
}
.label-top {
  i{
    font-size: 20px !important;
  }
}
.searchfield {
  border: none;
  height: 32px;
  line-height: 22px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 4px 6px 5px 6px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0;
  font-size: 16px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: inset 3px 5px 0px -4px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: inset 3px 5px 0px -4px rgba(0, 0, 0, 0.06);
  box-shadow: inset 3px 5px 0px -4px rgba(0, 0, 0, 0.06);
  margin-left: -4px;
  outline: none;
  color: #4b4c4e;
  background-color: #fff;
  width: 270px;
}

.searchbutton {
  display: inline-block;
  border: none;
  line-height: 20px;
  padding: 4px 15px 4px 15px;
  height: 41px;
  vertical-align: middle;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: inset 3px 5px 0px -4px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: inset 3px 5px 0px -4px rgba(0, 0, 0, 0.06);
  box-shadow: inset 3px 5px 0px -4px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}
