
<div class="main-content mx-4 pt-0">
    <div class="container-fluid bg-white shadow rounded pt-3">
        <div class="row" >
            <div class="col-lg-7 px-4 pt-4 pb-3  ">
  
                <div class="row"  [formGroup]="recipeForm">
  
                    <div class="col-lg-6">
                        <i type="button"  [routerLink]="['/recipeManagement']" class="material-icons mb-3">
                            keyboard_backspace
                        </i>

                        <mat-form-field class="w-100 mb-3" appearance="outline">
                            <mat-label>Enter Recipe Name</mat-label>
                            <input matInput placeholder="Enter Name"
                            [formControlName]="'recipe_name'"
                            required>
                            <mat-error *ngIf="hasError('recipe_name', 'required')">Recipe Name <strong>required</strong></mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-100 mb-3" appearance="outline">
                            <mat-label>Enter Price</mat-label>
                            <input matInput placeholder="Enter price"
                            [formControlName]="'total_price'"
                            appNumberOnly
                            required>
                            <mat-error *ngIf="hasError('total_price', 'required')">Price <strong>required</strong></mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-100 mb-3" appearance="outline" >
                            <mat-label>Enter Recipe Type</mat-label>
                            <mat-select maxlength="500"
                            [formControlName]="'recipe_type'"
                            placeholder="Type">
                                <mat-option  value="1">
                                    Indian
                                  </mat-option>
                                  <mat-option value="2">
                                    Pakistani
                                  </mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('recipe_type', 'required')">Recipe Type <strong>required</strong></mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100 mb-3" appearance="outline">
                            <mat-label>Enter Container Temperature</mat-label>
                            <input matInput placeholder="Enter Container Temperature"
                            [formControlName]="'recipe_temperature'"
                            required>
                            <mat-error *ngIf="hasError('recipe_temperature', 'required')">Recipe Temperature <strong>required</strong></mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width w-100 mb-3" appearance="outline">
                            <mat-label>Enter Recipe Description</mat-label>
                            <textarea matInput placeholder="Enter description"
                            [formControlName]="'recipe_description'"
                            required></textarea>
                            <mat-error *ngIf="hasError('recipe_description', 'required')">Recipe Description <strong>required</strong></mat-error>
                        </mat-form-field>
                    </div>
  
                    <!-- <div class="col-lg-6">
                        <img src="assets/img/ecipe.avif" class="w-100 image-responsive" />
                        
  
                        <button class="w-100 btn btn-primary">
                            <i class="fa fa-upload mr-2"></i>
                            Upload Picture
                        </button>


                    </div> -->
                    <div class="col-lg-6  shadow-sm d-flex justify-content-center align-items-center">
                        <div *ngIf="avatarURL" class="position-relative ">
                            <img class="mx-auto border-4  border-b-gray-800 w-100" [src]="avatarURL"  (error)="this.avatarURL ='../../../../assets/img/recipe-default.png'"  >
                            <button style="top: 6px;right: 6px; background: red;" class="position-absolute text-white rounded shadow" mat-button (click)="removeImg()"><mat-icon >cancel</mat-icon>
                             </button> 
                        </div>
                        <input #file type="file" accept='image/*' [hidden]="true" (change)="onFileChange($event)" />
                        <button mat-raised-button color="primary" material-icons (mousedown)="file.click();" *ngIf="!avatarURL"><mat-icon class="text-white me-3">image</mat-icon>Upload Image</button>
                    </div>
  
                </div>
<!--                <div class="row mt-3">-->
<!--                    <div class="col-lg-12 text-center">-->
<!--                        <button mat-fab class="btn-primary" type="button" (click)="addIngrediants()" aria-label="Example icon button with a delete icon">-->
<!--                            <mat-icon>add</mat-icon>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
                
   

</div>
  
            <div class="col-lg-5">
                    <div class="d-flex">
                        <div type='button' [ngClass]="getStyle('B1')" style="width: 150px; height:75px;" (click)="addIngrediants('B1')">B1</div>
                        <div type='button' [ngClass]="getStyle('B8')" style="width: 150px; height:75px;" (click)="addIngrediants('B8')">B8</div>
                    </div>
  
                    <div class="d-flex ">

                        <div class="d-grid">
                            <div type='button' [ngClass]="getStyle('B2')" style="width: 80px; height:98px;" (click)="addIngrediants('B2')">B2</div>
                            <div type='button' [ngClass]="getStyle('B3')" style="width: 80px; height:98px;" (click)="addIngrediants('B3')">B3</div>

                        </div>

                        <div type='button'  class="glass-effect" style="width: 128px; height:200px;">
  
                            <div class="d-flex" style="flex-wrap: wrap; justify-content: center;">
                                <div type='button' [ngClass]="getStyle2('S1')" style="width: 25px; height:25px;" (click)="addIngrediants('S1')">S1</div>
                                <div type='button' class="glass-effect  bg-primary" style="width: 25px; height:25px;" ></div>
                                <div type='button' [ngClass]="getStyle2('S7')" style="width: 25px; height:25px;" (click)="addIngrediants('S7')">S7</div>
                                <div type='button' [ngClass]="getStyle2('S2')" style="width: 25px; height:25px;" (click)="addIngrediants('S2')">S2</div>
                                <div type='button' class="glass-effect  bg-primary" style="width: 25px; height:25px;" ></div>
                                <div type='button' [ngClass]="getStyle2('S6')" style="width: 25px; height:25px;" (click)="addIngrediants('S6')">S6</div>
                                <div type='button' [ngClass]="getStyle2('S3')" style="width: 25px; height:25px;" (click)="addIngrediants('S3')">S3</div>
                                <div type='button' [ngClass]="getStyle2('S4')" style="width: 25px; height:25px;" (click)="addIngrediants('S4')">S4</div>
                                <div type='button' [ngClass]="getStyle2('S5')" style="width: 25px; height:25px;" (click)="addIngrediants('S5')">S5</div>
                            </div>
  
  
                        </div>
                        <div class="d-grid">
                            <div  type='button'[ngClass]="getStyle('B7')" style="width: 80px; height:98px;" (click)="addIngrediants('B7')">B7</div>

                            <div type='button' [ngClass]="getStyle('B6')" style="width: 80px; height:98px;" (click)="addIngrediants('B6')">B6</div>

                        </div>


                    </div>
  
                    <div class="d-flex">
                        <div type='button' [ngClass]="getStyle('B4')" style="width: 150px; height:75px;" (click)="addIngrediants('B4')">B4</div>

                        <div type='button' [ngClass]="getStyle('B5')" style="width: 150px; height:75px;" (click)="addIngrediants('B5')">B5</div>


                    </div>
  
  
            </div>
  
  
        </div>

        
        <div [formGroup]="recipeForm">
            <div formArrayName="ingrediants">
            <div *ngFor="let employee of ingrediants().controls; let empIndex = index" class="mx-2 row shadow rounded px-4 py-3 mt-4"
              style="background:#c7c7c730;"  >
                <div class="col-lg-12" [formGroupName]="empIndex">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{ recipeForm.get('ingrediants')?.at(empIndex)?.get('ingrediant_type')?.value }}</h3>
                        <mat-icon mat-icon-button (click)="removeIngrediants(empIndex,recipeForm.get('ingrediants')?.at(empIndex)?.get('ingrediant_type')?.value)"
                                  class="text-red-600  text-4xl" style="height: auto; width: auto; color: red;">cancel
                        </mat-icon>

                    </div>


                    <div class="row">
                        <div class="col-lg-4">
                            <mat-form-field class="w-100 " appearance="outline" >
                                <mat-label>Enter Ingredient Name</mat-label>
                                <input matInput  maxlength="500"
                                [formControlName]="'ingrediant_name'">
                            <mat-error *ngIf="FormArrayHasError('ingrediant_name', 'required',empIndex)">Ingredient Name <strong>required</strong></mat-error>

                            </mat-form-field>
                        </div>
                        <!-- <div class="col-lg-4">
                            <mat-form-field class="w-100" appearance="outline" >
                                <mat-label>Select Type</mat-label>
                                <mat-select disabled (selectionChange)="valueChange($event,empIndex)" maxlength="500"
                                [formControlName]="'ingrediant_type'"
                                placeholder="Type" >
                                    <mat-option *ngFor="let obj of TypeLov" [value]="obj.value">
                                        {{obj.heading}}
                                      </mat-option>
                                </mat-select>
                                <mat-error *ngIf="FormArrayHasError('ingrediant_type', 'required',empIndex)">Ingredient Type <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div> -->
                        <div class="col-lg-4">
                            <mat-form-field class="w-100 " appearance="outline">
                                <mat-label>Enter Cooking Time</mat-label>
                                <input matInput  maxlength="500"
                                [formControlName]="'ingrediant_cooking_time'"
                                placeholder="Cooking Time">
                            <mat-error *ngIf="FormArrayHasError('ingrediant_cooking_time', 'required',empIndex)">Cooking time <strong>required</strong></mat-error>
                            </mat-form-field>
                       </div>
                       <div class="col-lg-4">
                        <mat-form-field class="w-100 " appearance="outline">
                            <mat-label> Time type</mat-label>
                            <mat-select matInput
                                        maxlength="500"
                                        [formControlName]="'ingrediant_time_type'"
                                        placeholder="Time type">
                                <mat-option value="1">
                                    Minutes
                                </mat-option>
                                <mat-option value="2">
                                    Seconds
                                </mat-option>

                            </mat-select>
                            <mat-error *ngIf="FormArrayHasError('ingrediant_steering_type', 'required',empIndex)">Cooking speed <strong>required</strong></mat-error>
                   </mat-form-field>
                    </div>
                      
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <mat-form-field class="w-100 " appearance="outline"  >
                                <mat-label>Enter Quantity</mat-label>
                                <input matInput maxlength="500"
                                [formControlName]="'ingrediant_quantity'"
                                placeholder="Quantity">
                                <mat-error *ngIf="FormArrayHasError('ingrediant_quantity', 'required',empIndex)">Ingredient Quantity <strong>required</strong></mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field class="w-100 " appearance="outline" >
                                <mat-label>Enter Cooking Temperature</mat-label>
                                <input matInput  maxlength="500"
                                [formControlName]="'ingrediant_temperature'"
                                placeholder="Temperature">
                                <mat-error *ngIf="FormArrayHasError('ingrediant_temperature', 'required',empIndex)">Ingredient Temperature <strong>required</strong></mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field class="w-100 " appearance="outline">
                                <mat-label> Cooking Speed</mat-label>
                                <mat-select matInput
                                            maxlength="500"
                                            [formControlName]="'ingrediant_steering_type'"
                                            placeholder="Cooking Speed">
                                    <mat-option value="1">
                                        Low
                                    </mat-option>
                                    <mat-option value="2">
                                        Medium
                                    </mat-option>
                                    <mat-option value="3">
                                        High
                                    </mat-option>

                                </mat-select>
                                <mat-error *ngIf="FormArrayHasError('ingrediant_steering_type', 'required',empIndex)">Cooking speed <strong>required</strong></mat-error>
                       </mat-form-field>
                        </div>
                       
                    </div>
                </div>


            </div>

        </div>
</div>

        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="text-right float-end mb-3  me-5">
                    <!-- [disabled]="isFormValid()" -->
                    <button mat-raised-button class="mr-5 text-white bg-secondary" (click)="onSubmit()" >
                        Submit
                    </button>

                </div>
            </div>
        </div>


    </div>
</div>
  